---
import { buildUrl } from "../../scripts/path-utils";
import getTimezoneLabel from "../../scripts/timezone-label";

const name = "OLGA BIS";
const profession = "UX / UI DESIGNER";
const yearsActive = `2020 - ${new Date().getFullYear()}`;
const geo = `BASED IN SERBIA / ${getTimezoneLabel()}`;

const navItems = [
  { label: "PROJECTS", href: buildUrl("/#projects") },
  { label: "CONTACTS", href: buildUrl("/#contacts") },
  { label: "ABOUT ME", href: buildUrl("/about") },
];
---
<header class="site-header">
  <div class="container site-header__container">
    <div class="site-header__grid">
      <div class="site-header__brand">
        <span class="site-header__brand-name">{name}</span>
        <span class="site-header__brand-experience">{yearsActive}</span>
        <span class="site-header__brand-profession">{profession}</span>
      </div>

      <nav class="site-header__navigation" aria-label="Primary">
          {navItems.map((item, index) => (
              <>
                <a
                    class="site-header__navigation-link"
                    href={item.href}
                >
                    {item.label}
                </a>

                {index < navItems.length - 1 && (
                    <span
                    class="site-header__navigation-divider"
                    aria-hidden="true"
                    >
                    /
                    </span>
                )}
              </>
          ))}
      </nav>

      <span class="site-header__location">
        {geo}
      </span>
    </div>
  </div>
</header>

<style lang="scss">
.site-header {
  background: var(--color-background);
  height: var(--header-height);
}

.site-header__container {
  padding-top: 26px;
  padding-bottom: 18px;
}

.site-header__grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
}

.site-header__brand {
  display: grid;
  row-gap: 4px;

  span {
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
}

.site-header__brand-name {
    padding-left: 38px;
}

.site-header__brand-profession {
    padding-left: 24px;
}

.site-header__navigation {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.site-header__navigation-divider {
  font-size: var(--font-size-ui);
  line-height: var(--line-height-ui);
  letter-spacing: var(--letter-spacing-ui);
  color: var(--color-text);
}

.site-header__navigation-link {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}

.site-header__navigation-link:hover {
  text-decoration: underline;
}

.site-header__location {
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  display: inline-flex;
  align-self: center;
}

@media (min-width: 900px) {
  .site-header__grid {
    grid-template-columns: 1fr auto 1fr;
    column-gap: 24px;
    align-items: start;
  }

  .site-header__navigation {
    justify-content: center;
  }

  .site-header__location {
    justify-self: end;
  }
}
</style>

