---
import type { Image } from "../../types";
import getTimezoneLabel from "../../scripts/timezone-label";

import DownloadIcon from "../icons/Download.Icon.astro";

import SecuredMail from "../shared/SecuredMail.astro";

const image: Image = {
  src: "/portfolio/images/about.webp",
  alt: "Contact me",
};

const hints = ['Contacts', `Serbia, ${getTimezoneLabel()}`];
const title = "Let's get in touch!";
const links = [
  { label: "Telegram", href: "#" },
  { label: "LinkedIn", href: "#" },
  { label: "CV", href: "#", icon: DownloadIcon },
]

---
<div class="contacts">
  <div class="contacts__content">
    <span class="contacts__hints">
      {hints.map((hint, index) => (
        <span key={index}>{hint}</span>
      ))}
    </span>
    <div class="contacts__info">
      <h2>{title}</h2>
      <div class="contacts__list">
        {links.map((link, index) => (
          <div class="contacts__point">
            <span class="contacts__number">( {index + 1} )</span>
            <a href={link.href} class="contacts__plaque">
              {link.icon && <link.icon size="15" class="contacts__link-icon" />}
              {link.label}
            </a>
          </div>
        ))}
      </div>
      <div class="contacts__mail">
        <SecuredMail />
      </div>
    </div>
  </div>
  <image class="contacts__image" src={image.src} alt={image.alt}/>
</div>

<style lang="scss">
.contacts {
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  background: var(--color-surface);
  height: fit-content;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-6l);
  padding: var(--space-4l) var(--space-6l);
}

.contacts__hints {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--space-4l);

  h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 113%;
  }
}

.contacts__list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: var(--space-l);

  .contacts__number {
    display: inline-block;
    width: var(--space-4l);
    font-size: var(--space-xl);
    color: var(--color-text);
  }
}

.contacts__plaque {
  display: inline-flex; 
  align-items: center;
  gap: var(--space-xs);
  
  min-width: 104px;
  padding: var(--space-s) var(--space-xl);
  border: 1px solid rgba(15, 15, 15, 0.7);
  
  color: var(--color-primary);
  text-decoration: none;
  white-space: nowrap;
  
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent);
    border-color: var(--color-dark);
  }
}

.contacts__point {
  display: flex;
  align-items: center;
  gap: var(--space-4l);
} 

.contacts__link-icon {
  flex-shrink: 0;
  margin-top: -2px;
}

.contacts__mail {
  display: flex;
  justify-self: flex-end;
}

.contacts__image {
  max-height: 600px;
  aspect-ratio: 241 / 200;
}
</style>